@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap');

:root {
    --font-crono: 'Chakra Petch', sans-serif;
}

body {
    background-color: rgb(50, 93, 173);
}

h1 {
    font-family: var(--font-crono);
    position: absolute;
    top: 0;
    left: 15px;
}
.container {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 6px black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cronometro {
    font-family: var(--font-crono);
    font-size: 2.8em;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 85px;
}

.botoes {
    display: flex;
    position: absolute;
    bottom: 25px;
    width: 200px;
    border: 1px solid black;
    padding-top: 5px;
    border-radius: 50px;
    background-color: lightgray;
    justify-content: space-around;
}

.img {
    width: 30px;
    margin: 6px;
    cursor: pointer;
}

.img:hover {
    transform: scale(130%);
    transition: 200ms;
}

.img:active {
    transform: scale(80%);
    transition: 200ms;
}

.play, .pause, .zerar {
    display: none;
    
}

.bad {
    color: red;
}

.img-pause, .img-zerar {
    opacity: 50%;
}

.redes {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -10px;
    bottom: 35vh;

}

.redes:hover {
    transform: scale(110%);
    transition-duration: 500ms;
}

.redes img {
    width: 30px;
    padding: 3px;
}

.redes img:hover {
    transform: scale(120%);
    transition-duration: 400ms;
    
}

.redes img:active {
    transform: scale(90%);
    transition: 60ms;
}

.esquerda {
    height: 20px;
    width: 40px;
    position: absolute;
    right: 0;
    
}

.esquerda:hover {
    animation: alternate;
    transform: translateX(-20px);
    transition-duration: 600ms
}

.imagens {
    display: none;
}

.teste {
    position: absolute;
    border: 1px solid black;
    height: 22px;
    right: 11px;
    top: 5px;
}
